<div class="flex flex-wrap">
  <div class="about-me border border-blue-800 border-2 bg-white opacity-90 h-auto ml-32 p-4 mt-9">
    <div class="about-me w-full h-auto font-sans text-justify text-sm font-medium !opacity-100">
      <span class="text-justify">
        ¡Hola! Soy un apasionado desarrollador full stack con una sólida formación en Ingeniería Informática.
      </span>
      <br><br>
      <span class="text-justify">
        Desde mi quinto semestre, he estado inmerso en la creación de proyectos tanto para mis asignaturas
        como para proyectos externos. Comencé mi viaje en el desarrollo utilizando Laravel y posteriormente
        amplié mis habilidades aprendiendo Node.js y experimentando con React en un proyecto específico.
        Más tarde, me sumergí en el fascinante mundo de Angular, convirtiéndolo en mi framework favorito
        para el desarrollo front-end.
      </span>
      <br><br>
      <span class="text-justify">
        Mi enfoque constante en el aprendizaje y la exploración de nuevas tecnologías ha sido una constante
        en mi carrera, estoy siempre listo para enfrentar nuevos retos y seguir evolucionando en el emocionante
        campo del desarrollo full stack.
      </span>
    </div>
  </div>
  <div class="w-auto">
    <img src="../../../assets/img/foto.jpg" alt="Foto" class="w-64 border border-2 border-blue-700 !ml-32 mt-14 z-10 absolute">
    <div class="ml-36 mt-20 w-64 h-64 border rounded-sm border-4 border-blue-700">
  </div>

  </div>

</div>
